<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

    <div style="text-align: center">
        <h1>
            <br>
            欢迎 {{ userName }} 使用接口测试平台
        </h1>

        <div style="color: #5c7a95;text-align: left;margin-left: 300px">
            <h3>欢迎使用传送门</h3>
            <strong>
{#            qwertytrewq<br>#}
{#                asdfsdasd<br>#}
{#                sad#}
            {% for i in hrefs %}
                <a href="{{ i.href }}">{{ i.name }}</a> <br>

            {% endfor %}

            </strong>
        </div>



        <div style="position: absolute;bottom: 5px;right: 5px">
        <textarea id="tucao_input" cols="50" rows="10" placeholder="匿名吐槽专用，点击 呸 按钮即可怒喷开发者！" style="border-radius: 5px;padding-left: 10px;box-shadow: 4px 4px 9px grey"></textarea>
        <br>
        <button style="border-radius: 0px 0px 50px 50px;width: 100px" onclick="pei()">呸！</button>
        <br>
        <img src="/static/logo.jpg" alt="图片走丢了 555" style="width: 200px;">
        </div>
    </div>

    <script>
        function pei() {
            $.get("/pei/",{
                "tucao_text":document.getElementById('tucao_input').value,
                },function (ret) {
                    alert('已成功吐槽！')
                })
        }
    </script>

</body>
</html>