<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台登录</title>

    <style>
        body{
            background: url("/static/login.jpg");
            background-attachment: fixed;
            background-size: contain;
        }

        .jcpt_input{
            width: 200px;
            background-color: #fff7ee;
            border-radius: 10px;
            text-align: center;
            float: right;
            margin-right: 10px;
            height: 30px;
        }
    </style>
</head>
<body>
    <div style="margin-left: -webkit-calc(50% - 150px);
                width: 300px;height: 500px;background-color: white;
                opacity: 0.91;border-radius: 10px;text-align: center">
        <span style="font-size: xx-large;color: #1e1107">接口测试平台</span>
        <br>
        <span>登录/注册</span>
        <br><br>
        <div style="padding-left: 10px;text-align: left">
            用户名：<input type="text" class="jkpt_input">
            <br><br>
            密码：<input type="text" class="jkpt_input">
        </div>

    </div>
</body>
</html>